*
    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
.appcontainer
    {
       
    }
video 
    {
     width: 100%;
     height: 100vh;
     object-fit: cover; 
    }